<form [formGroup]="service.deliverdModel" autocomplete="off" (submit)="onSubmit()">
  <div class="modal-header">
      <h4 class="modal-title">{{my_modal_title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input formControlName="cardDataId" value="{{cardDataId}}" type="hidden">
      <input formControlName="statusName" value="{{statusName}}" type="hidden">
      <!-- De-Duplication -->
      
      <div class="form-group">
        <label for="SourceChannel">Source Channel</label>

        <select class="form-control" formControlName="SourceChannel" (change)="sourceChannelOnChange()">
          <option value="">Select</option>
          <option value="Branch">Branch</option>
          <option value="SalesForce">Sales Force</option>
        </select>
        <label class="text-danger" *ngIf="service.deliverdModel.get('SourceChannel').touched
                  && service.deliverdModel.get('SourceChannel').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="service.deliverdModel.get('SourceChannel').touched
                  && service.deliverdModel.get('SourceChannel').errors?.maxlength">Maximum 30 characters
          required.</label>

      </div>
      <div class="form-group">
        <label for="SourcedBy">Sourced By</label>
        <span *ngIf="service.deliverdModel.controls['SourceChannel'].value=='Branch'"> 
          <select class="form-control" formControlName="SourcedBy">
            <option value="">Select</option>
            <option *ngFor="let district of SourceByList; let i = index" [value]="SourceByList[i].brancH_CODE">
              {{SourceByList[i].brancH_NAME}} ( {{SourceByList[i].brancH_CODE}} )
            </option>
          </select>

        </span>
        <span *ngIf="service.deliverdModel.controls['SourceChannel'].value=='SalesForce'">
          <input type="text" class="form-control" (blur)="getEmployeeId()" formControlName="SourcedBy"
          placeholder="Enter Employee Id">
        </span>
       
        <label class="text-danger" *ngIf="service.deliverdModel.get('SourcedBy').touched
                 && service.deliverdModel.get('SourcedBy').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="service.deliverdModel.get('SourcedBy').touched
                 && service.deliverdModel.get('SourcedBy').errors?.maxlength">Maximum 30 characters
          required.</label>
          <label class="text-danger" *ngIf="errorText && service.deliverdModel.controls['SourceChannel'].value=='SalesForce'">{{errorText}}</label>

          <span *ngIf="EmployeeInfo">
            <label class="text-info">{{EmployeeInfo.name}} ({{EmployeeInfo.designation}})</label>
            
          </span>
      </div>
    
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light mr-1"
          [disabled]="!service.deliverdModel.valid">Delivered</button>
    </div>
  </form>