<form [formGroup]="service.formModelContactPointVerification" autocomplete="off" (submit)="onSubmit()">
  <div class="modal-header">
      <h4 class="modal-title">{{my_modal_title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input formControlName="CardApplicationDataId" type="hidden">
      <div class="form-group">
        <label for="Particulars">Particulars</label>
        <select class="form-control" formControlName="Particulars">
          <option value="">Select</option>
          <option value="Identification, Address and Contact Number">Identification, Address and Contact Number</option>
          <option value="Bank Statement Verification">Bank Statement Verification</option>
          <option value="Salary Certificate/LOI/Pay Slip Verification">Salary Certificate/LOI/Pay Slip Verification</option>
          <option value="Physical Verification of Residential Address">Physical Verification of Residential Address</option>
        </select>
        <label class="text-danger" *ngIf="service.formModelContactPointVerification.get('Particulars').touched &&
         service.formModelContactPointVerification.get('Particulars').errors?.required">This field is mandatory.</label>
      </div>
      <div class="form-group">
        <label for="Conducted">Conducted</label>
        <select class="form-control" formControlName="Conducted">
          <option value="">Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
       </select>
        <label class="text-danger" *ngIf="service.formModelContactPointVerification.get('Conducted').touched &&
         service.formModelContactPointVerification.get('Conducted').errors?.required">This field is mandatory.</label>
       </div>

       <div class="form-group">
        <label for="IsSatisfactory">Is Satisfactory</label>
        <select class="form-control" formControlName="IsSatisfactory">
          <option value="">Select</option>
          <option value="Satisfactory">Satisfactory</option>
          <option value="UnSatisfactory">UnSatisfactory</option>
       </select>
        <label class="text-danger" *ngIf="service.formModelContactPointVerification.get('IsSatisfactory').touched &&
         service.formModelContactPointVerification.get('IsSatisfactory').errors?.required">This field is mandatory.</label>
       </div>

      <div class="form-group">
        <label for="CPV_Done_BY">CPV Done BY</label>
        <input type="text" class="form-control" formControlName="CPV_Done_BY" placeholder="Enter Facility Type">
        <label class="text-danger" *ngIf="service.formModelContactPointVerification.get('CPV_Done_BY').touched
           && service.formModelContactPointVerification.get('CPV_Done_BY').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="service.formModelContactPointVerification.get('CPV_Done_BY').touched
           && service.formModelContactPointVerification.get('CPV_Done_BY').errors?.maxlength">Maximum 30 characters required.</label>
      </div>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light mr-1"
          [disabled]="!service.formModelContactPointVerification.valid">Submit</button>
    </div>
  </form>