@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/roboto-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Sarabun/Sarabun-Regular.ttf') format('woff2');
  unicode-range: U+0000-00FF;
}
