<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h4 class="page-title">Client Other Informations</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Other Informations</li>
      </ol>
    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>
<form [formGroup]="service.formModelCreditData" autocomplete="off" (submit)="onSubmit()">
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Income Details (Monthly Basis)</h4>
        <p class="text-muted m-b-30">Please fillup income information.
          <span style="float: right;"></span></p>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="FileNo">File No</label>
                <input formControlName="Id" type="hidden">
                <input type="text" class="form-control" formControlName="FileNo"
                  placeholder="Enter Business Income" disabled>
             
  
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="form-group">
                <label for="FullName">Full Name</label>
  
                <input type="text" class="form-control" formControlName="FullName"
                  placeholder="Enter Net Business Income" disabled>
               
              </div>
            </div>
    
          </div>
     
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="IncomeDetails_BusinessIncome">Business Income</label>

              <input type="number" class="form-control" formControlName="IncomeDetails_BusinessIncome"
                placeholder="Enter Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_BusinessIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_BusinessIncome').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_BusinessIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_BusinessIncome').errors?.maxlength">Maximum 30 characters
                required.</label>

            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="IncomeDetails_NetBusinessIncome">Net Business Income</label>

              <input type="number" class="form-control" formControlName="IncomeDetails_NetBusinessIncome"
                placeholder="Enter Net Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_NetBusinessIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_NetBusinessIncome').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_NetBusinessIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_NetBusinessIncome').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="IncomeDetails_OtherIncome">Other Income</label>

              <input type="number" class="form-control" formControlName="IncomeDetails_OtherIncome"
                placeholder="Enter Other Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_OtherIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_OtherIncome').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_OtherIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_OtherIncome').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
        </div>

        
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="IncomeDetails_NetIncome">Net Income</label>

              <input type="number" class="form-control" formControlName="IncomeDetails_NetIncome"
                placeholder="Enter Net Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_NetIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_NetIncome').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_NetIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_NetIncome').errors?.maxlength">Maximum 30 characters
                required.</label>

            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="IncomeDetails_FamilyExpense">Family Expense</label>

              <input type="number" class="form-control" formControlName="IncomeDetails_FamilyExpense"
                placeholder="Enter Family Expense">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_FamilyExpense').touched
                          && service.formModelCreditData.get('IncomeDetails_FamilyExpense').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_FamilyExpense').touched
                          && service.formModelCreditData.get('IncomeDetails_FamilyExpense').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="IncomeDetails_SurplusIncome">Surplus Income</label>

              <input type="number" class="form-control" formControlName="IncomeDetails_SurplusIncome"
                placeholder="Enter Surplus Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_SurplusIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_SurplusIncome').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('IncomeDetails_SurplusIncome').touched
                          && service.formModelCreditData.get('IncomeDetails_SurplusIncome').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Investment Details with SJIBL & Others:</h4>

        <button type='button' class="btn btn-lg btn-primary" (click)="add_investmentDetails()">Add Info</button><br>

        <table class="table table-striped table-sm table-bordered
                 dt-responsive nowrap" style="border-collapse: collapse;
                  border-spacing: 0; width: 100%;">
          <thead>
            <tr class="text-center">
              <th>Bank Name</th>
              <th>Facility Type</th>
              <th>Outstading Amount</th>
              <th>EMI</th>
              <th>Status</th>
           
            </tr>
          </thead>
          <tbody class="text-center">

            <tr *ngFor="let model of InvestmentDetails; let i = index">
              <td>{{model.bankName}}</td>
              <td>{{model.facilityType}}</td>
              <td>{{model.outstandingAmount}}</td>
              <td>{{model.emi}}</td>
              <td>{{model.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">CIB Status:</h4>
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="CIB_Dated">Dated</label>
              <div class="form-group">
                <div class="input-group">

                  <input type="text" class="form-control" placeholder="dd/mm/yyyy" formControlName="CIB_Dated" ngbDatepicker
                    #CIB_Dated="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="CIB_Dated.toggle()" type="button"><i
                        class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <label class="text-danger" *ngIf="service.formModelCreditData.get('CIB_Dated').touched
                 && service.formModelCreditData.get('CIB_Dated').errors?.required">This field is mandatory.</label>
                <label class="text-danger" *ngIf="service.formModelCreditData.get('CIB_Dated').touched
                 && service.formModelCreditData.get('CIB_Dated').errors?.maxlength">Maximum 10 characters required.</label>
                <label class="text-danger" *ngIf="service.formModelCreditData.get('CIB_Dated').touched
                 && service.formModelCreditData.get('CIB_Dated').errors?.dateVaidator">Invalid date formate.</label>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="CIB_Status">Status</label>
              <select class="form-control" formControlName="CIB_Status">
                <option value="">Select</option>
                <option value="UC">UC</option>
                <option value="SMA">SMA</option>
                <option value="SS">SS</option>
                <option value="DF">DF</option>
                <option value="BL">BL</option>
                <option value="ERROR">ERROR</option>
              </select>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('CIB_Status').touched &&
               service.formModelCreditData.get('CIB_Status').errors?.required">This field is mandatory.</label>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">DBR Calculation:</h4>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="DBR_ExistingEMI">Existing EMI</label>
              <input type="number" class="form-control" formControlName="DBR_ExistingEMI"
              placeholder="Enter Existing EMI">
            <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_ExistingEMI').touched
                        && service.formModelCreditData.get('DBR_ExistingEMI').errors?.required">This field is
              mandatory.</label>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_ExistingEMI').touched
                        && service.formModelCreditData.get('DBR_ExistingEMI').errors?.maxlength">Maximum 30 characters
              required.</label>

            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="DBR_ProposedEMI">Proposed EMI</label>
              <input type="number" class="form-control" formControlName="DBR_ProposedEMI"
              placeholder="Enter Proposed EMI">
            <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_ProposedEMI').touched
                        && service.formModelCreditData.get('DBR_ProposedEMI').errors?.required">This field is
              mandatory.</label>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_ProposedEMI').touched
                        && service.formModelCreditData.get('DBR_ProposedEMI').errors?.maxlength">Maximum 30 characters
              required.</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="DBR_TotalEMI">Total EMI</label>
              <input type="number" class="form-control" formControlName="DBR_TotalEMI"
              placeholder="Enter Total EMI">
            <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_TotalEMI').touched
                        && service.formModelCreditData.get('DBR_TotalEMI').errors?.required">This field is
              mandatory.</label>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_TotalEMI').touched
                        && service.formModelCreditData.get('DBR_TotalEMI').errors?.maxlength">Maximum 30 characters
              required.</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="DBR_DBRatio">DB Ratio</label>
              <input type="number" class="form-control" formControlName="DBR_DBRatio"
                placeholder="Enter Net Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_DBRatio').touched
                          && service.formModelCreditData.get('DBR_DBRatio').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('DBR_DBRatio').touched
                          && service.formModelCreditData.get('DBR_DBRatio').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Contact Point Verification:</h4>
        <button type='button' class="btn btn-lg btn-primary" (click)="add_contactPointVerification()">Add Info</button><br>

        <table class="table table-striped table-sm table-bordered
                 dt-responsive nowrap" style="border-collapse: collapse;
                  border-spacing: 0; width: 100%;">
          <thead>
            <tr class="text-center">
              <th>Particulars</th>
              <th>Conducted</th>
              <th>Satisfactory/Unsatisfactory</th>
              <th>CPV Done By</th>
            </tr>
          </thead>
          <tbody class="text-center">

            <tr *ngFor="let model of ContactPoints; let i = index">
              <td>{{model.particulars}}</td>
              <td>{{model.conducted}}</td>
              <td>{{model.isSatisfactory}}</td>
              <td>{{model.cpV_Done_BY}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Eligibility Score:</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="EligibilityScore_MonthlyScore">Monthly Income</label>

              <input type="number" class="form-control" formControlName="EligibilityScore_MonthlyScore"
                placeholder="Enter Net Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('EligibilityScore_MonthlyScore').touched
                          && service.formModelCreditData.get('EligibilityScore_MonthlyScore').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('EligibilityScore_MonthlyScore').touched
                          && service.formModelCreditData.get('EligibilityScore_MonthlyScore').errors?.maxlength">Maximum 18 characters
                required.</label>

            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="EligibilityScore_PointsObtained">Points Obtained</label>

              <input type="number" class="form-control" formControlName="EligibilityScore_PointsObtained"
                placeholder="Enter Family Expense">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('EligibilityScore_PointsObtained').touched
                          && service.formModelCreditData.get('EligibilityScore_PointsObtained').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('EligibilityScore_PointsObtained').touched
                          && service.formModelCreditData.get('EligibilityScore_PointsObtained').errors?.maxlength">Maximum 18 characters
                required.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="EligibilityScore_Multiplier">Multiplier</label>

              <input type="number" class="form-control" formControlName="EligibilityScore_Multiplier"
                placeholder="Enter Surplus Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('EligibilityScore_Multiplier').touched
                          && service.formModelCreditData.get('EligibilityScore_Multiplier').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('EligibilityScore_Multiplier').touched
                          && service.formModelCreditData.get('EligibilityScore_Multiplier').errors?.maxlength">Maximum 18 characters
                required.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Limit Setting Information:</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="LimitInfo_AppliedAmount">Applied Amount</label>

              <input type="number" class="form-control" formControlName="LimitInfo_AppliedAmount"
                placeholder="Enter Net Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('LimitInfo_AppliedAmount').touched
                          && service.formModelCreditData.get('LimitInfo_AppliedAmount').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('LimitInfo_AppliedAmount').touched
                          && service.formModelCreditData.get('LimitInfo_AppliedAmount').errors?.maxlength">Maximum 18 characters
                required.</label>

            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="LimitInfo_SalesBranchRequest">Sales/ Branch request</label>

              <input type="number" class="form-control" formControlName="LimitInfo_SalesBranchRequest"
                placeholder="Enter Family Expense">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('LimitInfo_SalesBranchRequest').touched
                          && service.formModelCreditData.get('LimitInfo_SalesBranchRequest').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('LimitInfo_SalesBranchRequest').touched
                          && service.formModelCreditData.get('LimitInfo_SalesBranchRequest').errors?.maxlength">Maximum 18 characters
                required.</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="LimitInfo_MaxLimitAsPerMultiplier">Max. Limit as per Multiplier</label>

              <input type="number" class="form-control" formControlName="LimitInfo_MaxLimitAsPerMultiplier"
                placeholder="Enter Surplus Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('LimitInfo_MaxLimitAsPerMultiplier').touched
                          && service.formModelCreditData.get('LimitInfo_MaxLimitAsPerMultiplier').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('LimitInfo_MaxLimitAsPerMultiplier').touched
                          && service.formModelCreditData.get('LimitInfo_MaxLimitAsPerMultiplier').errors?.maxlength">Maximum 18 characters
                required.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Proposed Limit:</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="CardType">Card Type</label>

              <select class="form-control" formControlName="CardType">
                <option value="">Select</option>
                <option value="Visa Platinum"> Visa Platinum</option>
                <option value="Visa Platinum"> Gold</option>
                <option value="Visa Platinum"> Classic</option>
              </select>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('CardType').touched
                && service.formModelCreditData.get('CardType').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('CardType').touched
                && service.formModelCreditData.get('CardType').errors?.maxlength">Maximum 50 characters required.</label>

            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="Limit">Limit</label>
              <input type="number" class="form-control" formControlName="Limit"
                placeholder="Enter Net Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('Limit').touched
                          && service.formModelCreditData.get('Limit').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('Limit').touched
                          && service.formModelCreditData.get('Limit').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="HaveSupplementaryCard">Have Supplementary Card</label>

              <select class="form-control" formControlName="HaveSupplementaryCard">
                <option value="">Select</option>
                <option value="Yes"> Yes</option>
                <option value="No"> No</option>
              </select>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('HaveSupplementaryCard').touched
                && service.formModelCreditData.get('HaveSupplementaryCard').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.formModelCreditData.get('HaveSupplementaryCard').touched
                && service.formModelCreditData.get('HaveSupplementaryCard').errors?.maxlength">Maximum 10 characters required.</label>

            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="SupplementaryCard_Name">Name</label>
              <input type="text" class="form-control" formControlName="SupplementaryCard_Name"
                placeholder="Enter Net Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('SupplementaryCard_Name').touched
                          && service.formModelCreditData.get('SupplementaryCard_Name').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('SupplementaryCard_Name').touched
                          && service.formModelCreditData.get('SupplementaryCard_Name').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="SupplementaryCard_Relationship">Relationship</label>
              <input type="text" class="form-control" formControlName="SupplementaryCard_Relationship"
                placeholder="Enter Net Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('SupplementaryCard_Relationship').touched
                          && service.formModelCreditData.get('SupplementaryCard_Relationship').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('SupplementaryCard_Relationship').touched
                          && service.formModelCreditData.get('SupplementaryCard_Relationship').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="SupplementaryCard_Portion">Portion</label>
              <input type="text" class="form-control" formControlName="SupplementaryCard_Portion"
                placeholder="Enter Net Business Income">
              <label class="text-danger" *ngIf="service.formModelCreditData.get('SupplementaryCard_Portion').touched
                          && service.formModelCreditData.get('SupplementaryCard_Portion').errors?.required">This field is
                mandatory.</label>
              <label class="text-danger" *ngIf="service.formModelCreditData.get('SupplementaryCard_Portion').touched
                          && service.formModelCreditData.get('SupplementaryCard_Portion').errors?.maxlength">Maximum 30 characters
                required.</label>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Observation /Justification:</h4>
        <textarea formControlName="Observation" class="form-control"></textarea>
        <label class="text-danger" *ngIf="service.formModelCreditData.get('Observation').touched
        && service.formModelCreditData.get('Observation').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="service.formModelCreditData.get('Observation').touched
        && service.formModelCreditData.get('Observation').errors?.maxlength">Maximum 30 characters required.</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Special Condition(s):</h4>
        <textarea formControlName="SpecialCondition" class="form-control"></textarea>
        <label class="text-danger" *ngIf="service.formModelCreditData.get('SpecialCondition').touched
        && service.formModelCreditData.get('SpecialCondition').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="service.formModelCreditData.get('SpecialCondition').touched
        && service.formModelCreditData.get('SpecialCondition').errors?.maxlength">Maximum 30 characters required.</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Security:</h4>
        <textarea formControlName="Security" class="form-control"></textarea>
                <label class="text-danger" *ngIf="service.formModelCreditData.get('Security').touched
                && service.formModelCreditData.get('Security').errors?.required">This field is mandatory.</label>
        <label class="text-danger" *ngIf="service.formModelCreditData.get('Security').touched
                && service.formModelCreditData.get('Security').errors?.maxlength">Maximum 30 characters required.</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Exception (if any):</h4>
        <textarea formControlName="Exception" class="form-control"></textarea>

        <label class="text-danger" *ngIf="service.formModelCreditData.get('Exception').touched
        && service.formModelCreditData.get('Exception').errors?.required">This field is
mandatory.</label>
<label class="text-danger" *ngIf="service.formModelCreditData.get('Exception').touched
        && service.formModelCreditData.get('Exception').errors?.maxlength">Maximum 30 characters
required.</label>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Approval Authority</h4>
        <select class="form-control" [(ngModel)]="preDifText" (change)="DefaultText()" [ngModelOptions]="{standalone: true}">
          <option value="">Select</option>
          <option value="The approval is within the delegated business power of the Deputy Managing Director as approved by the Board of Directors in its 283rd meeting held on 28/08/2019."> Predefined text 1</option>
     
        </select>

        <textarea formControlName="ApprovalAuthority" class="form-control"></textarea>

                  <label class="text-danger" *ngIf="service.formModelCreditData.get('ApprovalAuthority').touched
                  && service.formModelCreditData.get('ApprovalAuthority').errors?.required">This field is
          mandatory.</label>
          <label class="text-danger" *ngIf="service.formModelCreditData.get('ApprovalAuthority').touched
                  && service.formModelCreditData.get('ApprovalAuthority').errors?.maxlength">Maximum 30 characters
          required.</label>
      </div>
    </div>
  </div>
</div>
<div class="form-group mb-0 text-right">
  <div>
    <button type="submit" class="btn btn-primary waves-effect waves-light mr-1"
      [disabled]="!service.formModelCreditData.valid">
      <span *ngIf="service.formModelCreditData.valid">Submit</span>
      <span *ngIf="!service.formModelCreditData.valid">Please fill-up all mandatory fields</span>
    </button>
    <button type="reset" class="btn btn-secondary waves-effect">Cancel</button>
  </div>
</div>

</form>
