

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">
            <!-- Logo container-->
            <div class="logo">
                <a routerLink="/home/dashboard" class="logo">
                    <h3 style="color: antiquewhite;">SJIBL-Utility-Payment System</h3>
                </a>

                <!-- <p><strong style="color: red;">{{idleState}}</strong></p> -->

            </div>
            <!-- MENU Start -->

            <!-- end navbar-custom -->
            <!-- End Logo container-->
            <div class="menu-extras topbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">

                    <!-- language-->
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false"><i class="mdi mdi-account-circle m-r-5"></i>
                            {{userName}} <span class="mdi mdi-chevron-down"></span></a>
                        <div class="dropdown-menu dropdown-menu-right language-switch" x-placement="top-end"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-38px, -15px, 0px);">

                            <a class="dropdown-item d-block" routerLink="/home/changePassword"><i
                                    class="mdi mdi-settings m-r-5"></i> Change Password</a>

                            <div class="dropdown-divider"></div><a (click)="onLogout()"
                                class="dropdown-item text-danger"><i class="mdi mdi-power text-danger"></i> Logout</a>


                        </div>
                    </li>

                    <!-- full screen -->
                    <!-- <li class="dropdown notification-list list-inline-item d-none d-md-inline-block"><a class="nav-link" href="#" id="btn-fullscreen"><i class="mdi mdi-fullscreen noti-icon"></i></a></li>
                       -->
                    <li class="menu-item list-inline-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle nav-link">
                            <div class="lines"><span></span> <span></span> <span></span></div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </li>
                </ul>
            </div>
            <!-- <li class="float-right dropdown notification-list list-inline-item" style="margin-top: 18px;">
                  
                    <div class="dropdown notification-list nav-pro-img">
                            <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
                    </div>
                </li>  -->



            <!-- end menu-extras -->
            <div class="clearfix"></div>
        </div>
        <!-- end container -->
    </div>
    <!-- end topbar-main -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu"><a routerLink="/home/dashboard"><i class="ti-home"></i>Dashboard</a></li>
               
                    <li *ngIf="service.isInRole(userRoles,['KGDCL_Maker','Admin'])" class="has-submenu"><a
                            routerLink="/home/nonMpayment"><i class="ti-agenda"></i>KGDCL Payment</a></li>
                        
                    <li *ngIf="service.isInRole(userRoles,['BGDCL_Maker','Admin'])" class="has-submenu"><a
                        routerLink="/home/bgdclVerify"><i class="ti-agenda"></i>BGDCL Payment</a></li>

                    <li *ngIf="service.isInRole(userRoles,['NESCO_Maker','Admin'])" class="has-submenu"><a
                        routerLink="/home/NescoVerify"><i class="ti-agenda"></i>NESCO Payment</a></li>

                    <li *ngIf="service.isInRole(userRoles,['KGDCL_Maker','BGDCL_Maker','NESCO_Maker'
                    ,'KGDCL_Checker','BGDCL_Checker','NESCO_Checker'
                    ,'Admin'])" class="has-submenu"><a
                        routerLink="/home/transactions"><i class="ti-agenda"></i>Report</a></li>

                        <li *ngIf="service.isInRole(userRoles,['KGDCL_Checker'])" class="has-submenu"><a
                            routerLink="/home/untAuthTransactions"><i class="ti-agenda"></i>KGDCL Unauthorized Transactions</a></li>
                        <li *ngIf="service.isInRole(userRoles,['BGDCL_Checker'])" class="has-submenu"><a
                            routerLink="/home/bgdclUnAuthTransactions"><i class="ti-agenda"></i>BGDCL Unauthorized Transactions</a></li>
                        <li *ngIf="service.isInRole(userRoles,['NESCO_Checker'])" class="has-submenu"><a
                            routerLink="/home/NescoUnAuthTransactions"><i class="ti-agenda"></i>NESCO Unauthorized Transactions</a></li>
                    
                    <li class="has-submenu" *ngIf="service.isInRole(userRoles,['Admin','AdminUserMaker','AdminUserChecker'])"><a href="#"><i class="ti-user"></i>User Management</a>
                        <ul class="submenu">
                            <li *ngIf="service.isInRole(userRoles,['Admin','AdminUserMaker'])" class="has-submenu"><a
                                routerLink="/home/unAuthUsers"><i class="ti-user"></i>Create New User</a></li>
        
                            <li *ngIf="service.isInRole(userRoles,['Admin','AdminUserChecker'])"  class="has-submenu"><a
                                    routerLink="/home/appusers"><i class="ti-user"></i>Authorized Users</a></li>

                        </ul>
                    </li>
                    
                               

                    <li *ngIf="service.isInRole(userRoles,['Admin','AdminUserChecker'])" class="has-submenu"><a href="#"><i class="ti-harddrives"></i>Manage</a>
                        <ul class="submenu">
                            <li   class="has-submenu"><a
                                routerLink="/home/globalSettings"><i class="ti-settings"></i>Global Settings</a></li>
        
                                <li  class="has-submenu"><a
                                    routerLink="/home/reconciliation"><i class="ti-settings"></i>Reconciliation</a></li>
                        </ul>
                    </li>
                   
                   
                   
                   
                   
                          
                </ul>
                <!-- End navigation menu   -->


            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
</header>
<br />
<!-- End Navigation Bar-->