<form [formGroup]="service.cardRecModel" autocomplete="off" (submit)="onSubmit()">
  <div class="modal-header">
      <h4 class="modal-title">{{my_modal_title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <input formControlName="HistoryId" value="{{historyId}}" type="hidden">
      <!-- De-Duplication -->
        <div class="form-group">
          <label>File Number</label>
          <input formControlName="FileNoCardDiv" class="form-control" type="text">
        
          <label class="text-danger" *ngIf="service.cardRecModel.get('FileNoCardDiv').touched &&
           service.cardRecModel.get('FileNoCardDiv').errors?.required">This field is mandatory.</label>
        </div>
    
    
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
          <button type="submit" class="btn btn-primary waves-effect waves-light mr-1"
          [disabled]="!service.cardRecModel.valid">Receive</button>
    </div>
  </form>