<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h4 class="page-title">Utility/ Service Payment</h4>
     
    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>

<form [formGroup]="service.paymentFormModel" autocomplete="off" *ngIf="TransactionInfo">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
     

          <input formControlName="Id" type="hidden">
          <input formControlName="UtilityTypeId" type="hidden">
          <input formControlName="PaymentTypeId" type="hidden">
       
          <input formControlName="TransactionId" type="hidden">

          <div class="row">
            <div class="col-md-6">
              <!-- *ngIf="service.paymentFormModel.get('PaymentTypeId').value=='3f385296-6592-4c3a-87a8-8df24c0626d7'" -->
              <div class="row" >
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="SMSAccountNo">SMS Account No</label>
                   
                    <input formControlName="SMSAccountNo" type="text" class="form-control" readonly>
                   
                  </div>
    
                </div>
              
              </div>
             

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="PaymentMethod">Payment Method</label>
                   
                    <input formControlName="PaymentMethod" type="text" class="form-control" readonly>
                    <label class="text-danger" *ngIf="service.paymentFormModel.get('PaymentMethod').touched
                              && service.paymentFormModel.get('PaymentMethod').errors?.required">This field is mandatory.</label>
                  </div>
    
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group" *ngIf="service.paymentFormModel.get('PaymentMethod').value=='TRANSFER'">
                        <label for="CustomerBranchCode">Branch Code</label>
                       
                        <input formControlName="CustomerBranchCode" type="text" class="form-control" readonly>
                        <label class="text-danger" *ngIf="service.paymentFormModel.get('CustomerBranchCode').touched
                                  && service.paymentFormModel.get('CustomerBranchCode').errors?.required">This field is mandatory.</label>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group" *ngIf="service.paymentFormModel.get('PaymentMethod').value=='TRANSFER'">
                        <label for="CustomerAccountNo">Account No.</label>
                       
                        <input formControlName="CustomerAccountNo" type="text" class="form-control" readonly>
                        <label class="text-danger" *ngIf="service.paymentFormModel.get('CustomerAccountNo').touched
                                  && service.paymentFormModel.get('CustomerAccountNo').errors?.required">This field is mandatory.</label>
                      </div>
                    </div>
                    
                  </div>
                  
                
                </div>
              </div>



              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Amount">Total Amount:</label>
                   
                    <input formControlName="Amount" type="text" class="form-control" 
                    readonly>
                    
                    <label class="text-danger" *ngIf="service.paymentFormModel.get('Amount').touched
                              && service.paymentFormModel.get('Amount').errors?.required">This field is mandatory.</label>
                  </div>
    
                </div>
             
              </div>
            </div>
            <div class="col-md-6">
            
              <table class="table table-bordered table-sm" *ngIf="TransactionInfo">
                <tbody>
                  <tr>
                    <th>Customer bill information </th>
                  </tr>
                  <tr>
                  
                    <td>
                      <span>
                        SMSAccountNo: {{TransactionInfo.smsAccountNo}}<br/>
                        BillMonth: {{TransactionInfo.billMonth}} <br/>
                        Due Type: {{TransactionInfo.dueType}} <br/>

                        <span *ngIf="TransactionInfo.isMake">
                          RefNo: {{TransactionInfo.refNo}} <br/>
                          PaymentTimestamp: {{TransactionInfo.paymentTimestamp | date:'dd/MM/yyy, h:mm a'}} <br/>
                          Vat: {{TransactionInfo.vat}} <br/>
                          Authorization Expires In: {{TransactionInfo.billInfo_ExpiresIn}} <br/>
                        </span>
                      </span>
                        <b>Total Amount To be Paid: {{TransactionInfo.amount}}</b> <br/>
                     
                     
                     
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
           

          </div>


          
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <div *ngIf="userService.isInRole(userRoles,['BREB_Checker','Admin']) && TransactionInfo.isMake" class="form-group mb-0 text-left">
                <label for="Amount">Remarks:</label>
                <textarea formControlName="CheckerRemarks" class="form-control"></textarea>
              </div>
            </div>
          </div>
          
          <div class="form-group mb-0 text-right">
            <div>
              <button type="button" *ngIf="userService.isInRole(userRoles,['BREB_Maker','Admin']) && !TransactionInfo.isMake" (click)="onMake(); $event.preventDefault()" class="btn btn-primary waves-effect waves-light mr-1">
                <span>Submit</span>
              </button>

              <button type="button" *ngIf="userService.isInRole(userRoles,['BREB_Checker','Admin']) && TransactionInfo.isMake" (click)="onDecline(); $event.preventDefault()" class="btn btn-danger waves-effect waves-light mr-1">
                <span>Decline</span>
              </button>

              <button type="button" *ngIf="userService.isInRole(userRoles,['BREB_Checker','Admin'])  && TransactionInfo.isMake" (click)="onSubmit(); $event.preventDefault()" class="btn btn-success waves-effect waves-light mr-1">
                <span>Authorize</span>
              </button>


              <button type="button" (click)="goBack(); $event.preventDefault()" *ngIf="userService.isInRole(userRoles,['BREB_Maker','Admin'])"  class="btn btn-secondary waves-effect">Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>