<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h4 class="page-title">Applications for Retail Head</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"></li>
      </ol>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Search Area:</h4>
        <p class="text-muted m-b-30">Search with "File No", "Mobile Number" or "National ID".</p>
        <div id="accordion">
          <div class="card mb-1">
            <div class="card-header p-3" id="headingOne">
              <h6 class="m-0 font-14"><a href="#collapseOne" class="text-dark collapsed" data-toggle="collapse"
                  aria-expanded="false" aria-controls="collapseOne">
                  Searching Fields <i class="fas fa-arrow-circle-down"></i></a></h6>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSearch()">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="SourceChannel">Source Channel</label>
                        <select class="form-control" formControlName="SourceChannel" (change)="sourceChannelOnChange()">
                          <option value="">Select</option>
                          <option value="Branch">Branch</option>
                          <option value="SalesForce">Sales Force</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="SourcedBy">Sourced By</label>

                        <select class="form-control" formControlName="SourcedBy">
                          <option value="">Select</option>
                          <option *ngFor="let district of SourceByList; let i = index"
                            [value]="SourceByList[i].BRANCH_CODE">
                            {{SourceByList[i].BRANCH_NAME}} ( {{SourceByList[i].BRANCH_CODE}} )
                          </option>
                        </select>

                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="FileNo">File No</label>

                        <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                          <input type="text" class="form-control" formControlName="FileNo" placeholder="Enter File No">
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="ContactNumber">Contact Number</label>

                        <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                          <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                          <input type="text" class="form-control" formControlName="ContactNumber"
                            placeholder="Enter Contact Number">
                        </div>

                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="NationalID">National ID</label>
                        <input type="text" class="form-control" formControlName="NationalID"
                          placeholder="Enter National ID">
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-0 text-right">
                    <div>
                      <button type="submit" class="btn btn-primary btn-large waves-effect waves-light mr-1">Search <i
                          class="fa fa-search"></i></button>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">


        <table class="table table-striped table-sm table-bordered
                 dt-responsive nowrap" style="border-collapse: collapse;
                  border-spacing: 0; width: 100%;">
          <thead>
            <tr class="text-center">
              <th>Source Channel</th>
              <th>Sourced By</th>
              <th>File No</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>National ID</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="text-center">

            <tr *ngFor="let application of NewApplications; let i = index">
              <td>{{application.sourceChannel}}</td>
              <td>{{application.sourcedBy}}</td>
              <td>{{application.fileNo}}</td>
              <td>{{application.fullName}}</td>
              <td>{{application.contactNumber}}</td>
              <td>{{application.nationalID}}</td>
              <td>
                <span *ngIf="!application.receivedBy" class="badge badge-warning">Not Received Yet</span>
                <span *ngIf="!application.givenStatus" class="badge badge-warning">Pending..</span>
                <span *ngIf="application.givenStatus" class="badge badge-success">{{application.givenStatus}}</span>
              </td>
              <td>
                
                <div class="btn-group btn-group-sm m-t-10" role="group" aria-label="Basic example">
                  <button type="button" placement="top" [routerLink]="['/home/detailsreport']" 
                  [queryParams]="{CardApplicationId:application.id,
                    HistoryId:application.applicationTrackingHistoryId}" *ngIf="application.receivedBy"  ngbTooltip="Details"
                    class="btn btn-primary"> <i class="ti-arrow-circle-right"></i></button>
                    <button *ngIf="!application.receivedBy" type="button" class="btn btn-secondary" placement="top" (click)="receiveDocument(application.applicationTrackingHistoryId)"  
                    ngbTooltip="Document Received" ><i class="ti-hand-point-up"></i></button> 
                    <button *ngIf="application.receivedBy && application.givenStatus" type="button" class="btn btn-danger" placement="top" (click)="backStage(application.id)"  
                    ngbTooltip="Reverse" ><i class="ti-back-left"></i></button> 
                    <button *ngIf="application.receivedBy && application.givenStatus" type="button" class="btn btn-secondary" placement="top" (click)="changeStage(application.id)"  
                       ngbTooltip="Send to DMD Sir" ><i class="ti-share"></i></button> 
                    

                     
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

<!-- end row -->