

<div class="wrapper-page">
    <div class="card overflow-hidden account-card mx-3">
        <div class="bg-primary p-4 text-white text-center position-relative">
          <h3 class="font-20 m-b-5">Shahjalal Islami Bank</h3>
          <p class="text-white-50 mb-4" style="color: #E5E4E2 !important;">Investment Document Process Automation </p>
          <a href="index.html"class="logo logo-admin">
            <img src="assets/images/logo-sm.png" height="63" style="margin-top: 13px;" alt="logo">
          </a>
        </div>
          <router-outlet></router-outlet>
      </div>
      <div class="m-t-40 text-center">
        <!-- <p>Don't have an account ? <a href="pages-register.html" class="font-500 text-primary">Signup now</a></p> -->
        <p>© 2020 IDPA. Powered by SJIBL IT Dev.</p>
      </div>

</div>
