<div class="page-title-box">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h4 class="page-title">Cib PDF Extraction</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"></li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="mt-0 header-title">Start Automation:</h4>

          <div class="card-body">
            <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="CibCode">Cib Code</label>
                    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                      <input type="text" class="form-control" formControlName="CibCode" placeholder="Enter Cib Code">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="Name">Document Path</label>

                    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                    
                      <input type="text" class="form-control" formControlName="Path" placeholder="Enter Path">
                    </div>

                  </div>
                </div>
              </div>
              <div class="form-group mb-0 text-right">
                <div>
                  <button type="submit" class="btn btn-primary btn-large waves-effect waves-light mr-1">Submit </button>



                  <div id="preloader" *ngIf="isLoading">
                    <div id="loader"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped table-sm table-bordered
                 dt-responsive nowrap" style="border-collapse: collapse;
                  border-spacing: 0; width: 100%;">
          <thead>
            <tr class="text-center">
              <th>Nature of Facility</th>
              <th>Limit</th>
              <th>Outstanding</th>
              <th>Overdue</th>
              <th>SMA</th>
              <th>SS (Non Default)</th>
              <th>DF</th>
              <th>BL</th>
            </tr>
          </thead>
          <tbody class="text-center" *ngIf="lists">

            <tr>
              <td>Funded</td>
              <td>{{lists.fundedLimit}}</td>
              <td>{{lists.fundedOutstandingAmount}}</td>
              <td>{{lists.fundedOverdue}}</td>
              <td>{{lists.fundedSMA}}</td>
              <td>{{lists.fundedSS}}</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Non-Funded</td>
              <td>{{lists.nonFundedLimit}}</td>
              <td>{{lists.nonFundedOutstandingAmount}}</td>
              <td>{{lists.nonFundedOverdue}}</td>
              <td>{{lists.nonFundedSMA}}</td>
              <td>{{lists.nonFundedSS}}</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{lists.fundedLimit+lists.nonFundedLimit}}</td>
              <td>{{lists.fundedOutstandingAmount+lists.nonFundedOutstandingAmount}}</td>
              <td>{{lists.fundedOverdue+lists.nonFundedOverdue}}</td>
              <td>{{lists.fundedSMA+lists.nonFundedSMA}}</td>
              <td>{{lists.fundedSS+lists.nonFundedSS}}</td>
              <td>0</td>
              <td>0</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>

<!-- end row -->